// General SASS elements not sepcific to one area of the application

/* ======  COLORS ====== */

$splttr-blue: #0D47A1;
$tab-button-wrapper: #DED9D9;
$tab-button-label: #0e0e0e;
$background-color: #efefef;	
$success: #43AC6A;
$alert: #f04124;

/* ====== FONTS ======= */

*{
	font-family: "Avenir Next", sans-serif !important;
}


/* ===== MODULES ====== */

// .title.title-center.header-item {
// 	background-color: $splttr-blue !important;
// 	margin: auto;
// 	color: white;
// }
// .platform-android .bar .title{
// 	background-color: $splttr-blue !important;
// 	color: white;
// 	margin: 0;
// 	padding-left: 10px;
// }

ion-modal-view{
    border-radius: 6px;
}

.item-floating-label{
    border-left: none;
    border-right: none;
    border-top: none;
}

.bar.bar-stable{
    background-color: $splttr-blue;
    *{
        color: white !important;
    }
}
.bar-header{
    background-color: $splttr-blue;
    .title{
        color: white !important;
    }
}
ion-header-bar .buttons button {
    font-weight: normal !important;
    color: white !important;
}
.FAB{
	height: 52px;
    width: 52px;
    border-radius: 50%;
    background-color: $splttr-blue;
    display: table;
    text-align: center;
    color: white;
    position: fixed;
    bottom: 63px;
    right: 15px;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.16), 0 4px 10px 0 rgba(0,0,0,0.12);
    i{
    	display: table-cell;
    	vertical-align: middle;
    	font-size: 1.5em;
    }
}

.platform-android .FAB{
	bottom: 30px;
	background-color: $splttr-blue;
}

ion-content{
	background-color: $background-color !important;
}
