.tab-analytics{
	&-dropdown {
		position: relative;
		margin-left: 10px;
		margin-right: 10px;
		&-button {
			span {
			}
			i {
				zoom: 1.2;
				position: absolute;
				right: 1em;
			}
		}
	}
	& {
		padding-top: 0;
		padding-bottom: 0;
		
		&-chart {
			zoom: .85;
			background-color: white;
			border: solid #387ef5;
			margin-left: calc(1em - 2px);
			border-radius: 8px;
			margin-right: calc(1em - 2px);
			padding-left: 1em;
			margin-top: -1.3em;
			padding-right: 1em;
		}
	}
	&-analytics.ng-hide {
	}

	.btoggle {
		border-bottom-left-radius: 0px;
		border-bottom-right-radius: 0px;
	}
}


