.analytics{
	&-header{
		background-position: center center;
		background-size: cover;
		height: 80px;
		color: white;
		span{
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			font-size: 1.5em;
		}
	}
	&-card{
		border-radius: 6px;
	}
}