.tab{
	&-home{
		@include tablet{
			text-align: center;
		}
	}
	&-wrapper{
		box-shadow: 0 2px 2px rgba(0, 0, 0, 0.6);
		position: relative;
		height: auto;
		background-color: gray;
		border-radius: 6px;
		margin: 20px auto;
		&:first-of-type{
			margin-top: 0;
		}
		@include-tablet{
			max-width: 200px;
		}
		@include tablet-up{
			max-width: 300px;
			margin-right: 25px;
			display: inline-block;
		}
	}
	&-content-wrapper{
		height: 90%;
		padding: 10px;
		border-radius: 6px 6px 0 0;
		h2, h4{
			color: white;
		}
		background-color: #bdbdbd;
		background-position: center center;
		background-size: cover;
		overflow: hidden;
	}
	&-content-squad{
		&-label{
			color: white;
			padding-bottom: 5px;
			line-height: 2em;
		}
		&-wrapper{
			li{
				display: inline-block;
				border-radius: 50%;
				background-position: center center;
				background-size: cover;
				height: 42px;
				width: 42px;
				background-color: white;
				border: 2px solid rgb(197, 197, 197);
				margin-right: 10px;
			}
		}
	}
	&-button{
		&-wrapper{
			border-radius: 0 0 6px 6px;
			margin: 0 !important;
			height: 10%;
			width: 100%;
			background-color: $tab-button-wrapper;
			padding: 3%;
			-moz-border-radius: 0px 0px 6px 6px;
			-webkit-border-radius: 0px 0px 6px 6px;
			border-radius: 0px 0px 6px 6px;
			text-align: center;
			border: 1px solid #cac6c6;
			border-top: none;
		}
		&-label{
			color: $tab-button-label;
		}
	}
}

/* MODAL */
.squad-checked{
	opacity: 0.5;
	border: none !important;	
}
.squad-modal{
	background-color: #efefef;
	li{
		height: 60px;
		width: 60px;
		border: 2px solid #ddd;
	}
}
.search{
	border-radius: 6px;
	background: #ddd;
	margin-bottom: 10px;
}
.modal-done-button-wrapper{
	padding-top: 25px;
}