.login{
	background: linear-gradient(black, #1c488e);
	height: 100%;
	width: 100%;
	display: table;
	&-wrapper{
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		width: 100%;
	}
	&-title-wrapper{
		h1{
			color: white;
			font-weight: 100;
			font-size: 4em;
		}
		span{
			color: white;
			font-size: 1.3em;
		}
	}
	&-options-wrapper{
		text-align: left;
		background: none;
		margin-top: 0;
	}
	&-button-wrapper{
		padding-top: 10px;
	}
	&-button{
		margin-bottom: 15px !important;
	    border-radius: 6px;
	    width: 80%;
	}
	input{
		color: white; 
	}
	span#_label-0, span#_label-1 {
	    color: rgba(255,255,255,0.7);
	}
	a{
		display: block;
		color: white;
		margin-bottom: 10px;
		text-decoration: none;
	}
}