.user{
	&-profile-details{
		text-align: center;
		padding: 10px 0;
		&-wrapper{
			text-align: center;
			min-height: 100px;
			border-bottom: 1px solid #c5c5c5;
		}
	}
	&-profile-image{
		border-radius: 50%;
		max-width: 50%;
		border: 2px solid #c5c5c5;
		margin: 0 auto 10px auto;
	}
	&-name-wrapper{
		h2{
			margin: 0;
		}
	}






	&-setting-row-wrapper{
		width: 100%;
	}
	&-setting-title{
		padding: 15% 0 3% 0;
	}
	&-setting-wrapper{
		width: 50%;
		float: left;
		background: white;
		.item-image{
			padding: 5%;
			// border: none;
		}
		img{
			max-width: 30%;
			padding-top: 10%;
		}
	}
}
