.user{	
	&-profile{
		max-width: 600px;
		margin: 0 auto;
	}
	&-profile-details{
		text-align: center;
		padding: 10px 0;
		&-wrapper{
			margin-top: 5px;
			min-height: 250px;
		}
	}
	&-profile-image{
		border-radius: 50%;
		max-width: 40%;
		border: 2px solid #c5c5c5;
		margin: 10px auto 10px auto;
		display: block;
		&-wrapper{
			position: relative;
		}
		&-edit-icon{
			position: absolute;
		    top: 50%;
		    left: 50%;
		    transform: translate(-50%,-50%);
		    font-size: 7em;
		    color: white;
		}
	}
	&-name-wrapper{
		padding-top: 5px;
		h2{
			margin: 0;
		}
	}
}
