.user{
	&-wrapper{
	}
	&-profile-wrapper{
	}
	&-item-image{
	}
	&-name-wrapper{
		text-align: center;
		h1{
			font-size: 1.8em;
		}
	}
	&-profile-image{
		border-radius: 50%;
		max-width: 180px;
		border: 4px solid #E6E5E5;
		margin: 0 auto;
	}
	&-profile-details{
		background: linear-gradient($splttr-blue, black);
		padding: 30px;
		h1{
			color: white;
			margin-bottom: 0px;
			padding-top: 30px;
			padding-botton: 30px;
		}
	}
	&-setting-row-wrapper{
		width: 100%;
	}
	&-setting-title{
		padding: 15% 0 3% 0;
	}
	&-setting-wrapper{
		width: 50%;
		float: left;
		background: white;
		.item-image{
			padding: 5%;
			// border: none;
		}
		img{
			max-width: 30%;
			padding-top: 10%;
		}
	}
}
