<ion-view view-title="Splttr">

    <ion-content class="padding tab-home" has-bouncing="true">

        <div class="tab-wrapper" ng-repeat="tab in tabs | orderBy: 'id'">

            <!-- TAB CONTENT -->
            <div class="tab-content-wrapper" style="background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url({{tab.bg_img}})">

                <!-- TITLE -->
                <div class="tab-content-title">
                    <h2>{{tab.title}}</h2>
                </div>

                <!-- BALANCE -->
                <div class="tab-content-balance">
                    <h4>Balance: ${{tab.balance}}</h4>
                </div>

                <!-- MEMBERS LIST -->
                <span class="tab-content-member-label">Members</span>
                <div class="tab-content-member-wrapper">
                    <ul class="member-list">
                        <ion-scroll direction="x" style="white-space:nowrap;" has-bouncing="true">
                            <li
                            ng-repeat="member in tab.members | orderBy: 'debt'" 
                            style="background-image: url({{member.img}})" 
                            ng-class="{'member-checked': member.debt}">
                            </li>
                        </ion-scroll>
                    </ul>
                </div>

                <div class="tab-arrow"></div>
            </div>
        </div>
    </ion-content>
    <!-- FAB -->
        <div class="FAB" ng-click="openModal()">
            <i class="icon ion-plus-round"></i>
        </div>
</ion-view>
