<ion-view view-title="Login">
  <ion-view hide-nav-bar="true"></ion-nav-bar>
  <ion-content class="padding login" scroll="false">
    <div class="login-wrapper">
      <div class="login-title-wrapper">
        <h1>Splyttr</h1>
      </div>
      <div class="list list-inset padding login-options-wrapper">

        <label class="item item-input item-floating-label">
          <span class="input-label">Username</span>
          <input type="text" placeholder="Username" required>
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Password</span>
          <input type="password" placeholder="Password" required>
        </label>
      </div>
    </div>
  </ion-content>
</ion-view>
