<ion-view view-title="Sign up">
    <ion-view hide-nav-bar="true"></ion-nav-bar>
    <ion-content class="padding login" scroll="false">
        <div class="login-wrapper">
            <div class="login-title-wrapper">
                <h1>Sign up</h1>
                <span>Create a Splyttr account</span>
            </div>
            <div class="list list-inset padding login-options-wrapper">
                <label class="item item-input item-floating-label">
                  <span class="input-label">Email</span>
                  <input type="text" placeholder="Email" required>
                </label>
                <label class="item item-input item-floating-label">
                  <span class="input-label">Username</span>
                  <input type="text" placeholder="Username" required>
                </label>
                <label class="item item-input item-floating-label">
                  <span class="input-label">Password</span>
                  <input type="password" placeholder="Password" required>
                </label>
            </div>
            <div class="login-button-wrapper">
                <button class="button button-outline button-light login-button">
                    Sign up
                </button>
                <a href="#/login" nav-direction="back" title="Sign into your existing account">Already have an account?</a>
            </div>
        </div>
    </ion-content>
</ion-view>