<ion-view view-title="{{tab.title}}">
	<ion-content class="tab-detail">

	 	<!-- TAB HEADER -->
		<div class="tab-detail-header" ng-style="{ 'background-image': 'linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),' + getImageUrl() }">
			<div class="tab-detail-title">
				<h1>${{tab.balance}}</h1>
			</div>
		</div>

		<!-- TAB CONTENT -->
		<div class="tab-detail-content padding">
			<ion-label stacked>Description</ion-label>
			<p>{{tab.desc}}</p>
			<ion-label stacked>Members</ion-label>
            <ul class="detail-squad-list">
            	<div class="detail-squad-member" ng-repeat="member in tab.squad | orderBy: 'debt'">
            		<img ng-src="{{member.img}}" alt="Member profile profile">
            		
            	</div>
               <!--  <li
                ng-repeat="member in tab.squad | orderBy: 'debt'" 
                style="background-image: url({{member.img}})" 
                ng-class="{'squad-checked': member.debt}">
                </li> -->
            </ul>
		</div>
	</ion-content>
</ion-view>