<ion-view view-title="Profile">
	<ion-nav-buttons side="primary">
	      <button class="button" side="right">
	        edit
	      </button>
	    </ion-nav-buttons>
	<ion-content class="padding">

	<!-- PROFILE DETAILS -->
		<div class="user-profile-details-wrapper">
			
			<div class="user-profile-details">
				<div class="item item-image user-profile-image">
					<img ng-src={{user.img}} alt="profile-picture">
				</div>
				<div class="user-name-wrapper">
					<h2>{{user.name}}</h2>
					<span>@alankopetman</span>
				</div>
			</div> 

		</div>
				<!-- SETTING TILES -->
				<!-- <div class="user-setting-row-wrapper">
					<div class="user-setting-wrapper">
						<div class="item item-image">
							<img src="/img/Settings.svg" alt="settings-image">
							<div class="user-setting-title">
								Settings
							</div>
							<div id="borderLeft"></div>
						</div>
					</div>
					<div class="user-setting-wrapper">
						<div class="item item-image">
							<img src="/img/Edit.svg" alt="edit-image">
							<div class="user-setting-title">
								Edit
							</div>
							<div id="borderLeft"></div>
						</div>
					</div>
				</div>
				<div class="user-setting-row-wrapper">
					<div class="user-setting-wrapper">
						<div class="item item-image">
							<img src="/img/Checked.svg" alt="checked-image">
							<div class="user-setting-title">
								Payment
							</div>
						</div>
					</div>
					<div class="user-setting-wrapper">
						<div class="item item-image">
							<img src="/img/About.svg" alt="about-image">
							<div class="user-setting-title">
								About
							</div>
						</div>
					</div>
				</div> -->
  </ion-content>
</ion-view>
