<ion-view view-title="Account">
	<ion-nav-buttons side="right">
	      <button class="button button-clear button-positive" ng-click="editProfile()">
	        Edit
	      </button>
	    </ion-nav-buttons>
	<ion-content class="padding">

	<!-- PROFILE DETAILS -->
		<div class="card user-profile-details-wrapper">
			<div class="user-profile-details">
				<div class="user-profile-image-wrapper">
					<img ng-src={{user.img}} alt="profile-picture" class="user-profile-image" id="user-profile-image">
					<!-- <i class="ion-ios-cloud-upload-outline user-profile-image-edit-icon"></i> -->
				</div>
				<div class="user-name-wrapper">
					<h2>{{user.name}}</h2>
					<span>@{{user.username}}</span>
				</div>
			</div> 
		</div>

	<!-- PROFILE SETTINGS -->
	<div class="card">
		<div class="item item-divider">
			Account Settings
		</div>
		<div class="item item-text-wrap">
			<ion-toggle ng-model="airplaneMode" toggle-class="toggle-balanced">Airplane Mode</ion-toggle>
			<ion-toggle toggle-class="toggle-balanced">Setting 2</ion-toggle>
			<ion-toggle toggle-class="toggle-balanced">Setting 3</ion-toggle>
		</div>
	</div>
	<button class="button button-block button-assertive">Sign Out</button>
  </ion-content>
</ion-view>
