<ion-view view-title="Activity">
    <ion-content class="padding">
        <div ng-repeat="tab in tabs">
            <div class="list">
                <div class="card analytics-card">
                    <div class="item item-divider analytics-header" style="background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url({{tab.bg_img}})">
                        <span>{{tab.title}}</span>
                    </div>
                    <div class="item item-text-wrap">
                        <canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels" chart-legend="true" chart-series="series" chart-options="{showTooltips: false}"></canvas>
                    </div>
                </div>
            </div>
    </ion-content>       
    
    <!-- NO TABS LABEL -->
    <span ng-if="tabs.length == 0" class="tab-message" >No tabs</span>   
</ion-view>
