<ion-view view-title="{{tab.title}}">
	<ion-content class="tab-detail">

	 	<!-- TAB HEADER -->
		<div class="tab-detail-header" ng-style="{ 'background-image': 'linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),' + getImageUrl() }">
			<div class="tab-detail-title">
				<h1>${{tab.balance}}</h1>
			</div>
		</div>

		<!-- TAB BUTTONS -->
		<div class="tab-detail-button-wrapper">
			<button class="button button-positive tab-detail-button" ng-click="openExpenseModal()">
			  Add Expense
			</button>
			<button class="button button-balanced tab-detail-button" ng-click="openPaymentModal()">
			  Add Payment
			</button>
		</div>

		<!-- TAB CONTENT -->
		<div class="tab-detail-content padding">
			<ion-label stacked class="tab-detail-label">Description</ion-label>
			<pre>{{tab.desc}}</pre>

			<ion-label stacked class="tab-detail-label">Expenses</ion-label>
			<div class="tab-detail-expense-wrapper">
				<div class="tab-detail-noexpense" ng-if="!tab.expenses">
					<span class="modal-tip">No expenses</span>
				</div>

				<ion-list>
				      <ion-item class="item-remove-animate item-icon-right tab-detail-expense" ng-repeat="expense in tab.expenses|orderBy: 'balance':true" type="item-text-wrap" href="#/tab/home/{{tab.id}}/{{expense.id}}">
				        <h2>{{expense.title}}</h2>
				        <p>${{expense.balance}}</p>
				        <i class="icon ion-chevron-right icon-accessory"></i>
				      </ion-item>
			    </ion-list>
			</div>

			<ion-label stacked class="tab-detail-label">Members</ion-label>
            <ul class="detail-squad-list">
            	<div class="detail-squad-member" ng-repeat="member in tab.squad | orderBy: '!debt'" ng-class="{'member-owes': !member.debt}">
            		<img ng-src="{{member.img}}" alt="Member profile profile">
            		<div class="detail-squad-member-content">
            			<span>{{member.name}}</span>
            			<p ng-if="member.debt">Still owes: $45.34</p>
            			<p ng-if="!member.debt">Does not owe</p>
        			</div>
            	</div>
            </ul>
		</div>
	</ion-content>
</ion-view>