<ion-modal-view>
	<ion-header-bar>
		  <h1 class="title">Add Payment</h1>
		  <div class="buttons">
		    <button class="button button-clear button-positive" ng-click="closePaymentModal()">Close</button>
		  </div>
	</ion-header-bar>
	<ion-content class="payment" scroll="false">
		<div class="payment-wrapper">
			<form name="newPaymentForm" novalidate>
				<div class="list">

					<!-- Select expense-->
					<div class="modal-input padding">
						<label class="item item-input item-select modal-label">
						    <div class="input-label">
						      Expense
						    </div>
						    <select ng-model="newPayment.expense" ng-change="newPaymentExpenseSelected()" ng-options="expense as expense.name for expense in expenses" required>
						    </select>
					  	</label>

				  	<!-- Select Member -->
				  		<label class="item item-input item-select modal-label" ng-class="{incomplete: newPayment.expense === ''}">
				  		    <div class="input-label">
				  		      Member
				  		    </div>
				  		    <select ng-disabled="newPayment.expense === ''" ng-change="newPaymentMemberSelected()" ng-options="member as member.debtor_info[0].username for member in newPaymentMembers" ng-model="newPayment.member" required>
				  		    </select>
				  	  	</label>

						<div class="modal-tip-wrapper" ng-if="newPayment.member">
							<span class="modal-tip"><strong>@{{newPayment.member.debtor_info[0].username}}</strong> owes you <strong><span class="balanced">${{newPaymentAmount}}</span></strong> for <strong>{{newPayment.expense.name}}</strong></span>
						</div>

				  	</div>

				  	<!-- MODAL BUTTON -->
					<div class="padding">
						<button type="button" class="button button-block button-balanced" ng-disabled="newPayment.member === ''" ng-click="addPayment()">
						  	Add Payment
						</button>
					</div>

				</div>
			</form>
		</div>
	</ion-content>
</ion-modal-view>
