<ion-view view-title="Expense Title">
	<ion-content class="padding">

		<div class="card">
			<div class="item item-divider">
				Expense details
			</div>
			<div class="item item-text-wrap">
				<h2 class="expense-title">Amount: $24.12</h2>
				{{expense.description}}
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua.</p>
			</div>
			<div class="item item-divider">
				Members
			</div>
			<div class="item item-text-wrap">
				<p>These members still owe money for this expense</p>
			</div>
		</div>



		<button class="button button-block button-assertive" ng-click="deleteExpense()">
			Delete Expense
		</button>		
	</ion-content>
</ion-view>
