<ion-view view-title="Splyttr">
    <ion-content class="padding tab-home">
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="refreshTabList()"></ion-refresher>
        <div class="tab-list">
            <!-- TABS -->
            <div class="card" ng-repeat="tab in tabs | orderBy: 'created':true">
              <div class="item item-divider splyttr-header-wrapper">
                <h2 class="tab-header-title">{{tab.name}}</h2>
                </div>
                <div class="item item-text-wrap tab-content">
                    Balance: <span class="tab-total">${{tab.total}}</span>
                    <p class="tab-content-description">{{tab.description}}</p>
                    <div class="tab-content-member-wrapper tab-card-members">
                        <span class="tab-content-member-label">Members</span>
                        <ul class="member-list">
                            <ion-scroll direction="x" style="white-space:nowrap;" has-bouncing="true">
                                <li
                                ng-repeat="member in tab.members | orderBy: 'debt'" 
                                ng-style="{ 'background-image': member.img ? 'url({{member.img}})' : 'url(img/blank-user.png)' }" 
                                ng-class="{'member-checked': member.debt}">
                                </li>
                            </ion-scroll>
                        </ul>
                    </div>
                </div>
                <a class="item assertive card-button" href="#/tab/home/{{tab.id}}">
                  View Tab
                </a>
            </div>
            <!-- END TABS -->
        </div>
    </ion-content>

    <!-- FAB -->
    <div class="FAB" ng-click="openModal()">
        <i class="icon ion-plus-round"></i>
    </div>
  

    <!-- NO TABS LABEL -->
    <span ng-if="tabs.length == 0" class="tab-message" >No tabs</span>            

    
</ion-view>
