<ion-view view-title="Choose a Picture">
    <ion-view hide-nav-bar="true"></ion-nav-bar>
    <ion-content class="padding login" scroll="false">
        <div class="login-wrapper">
            <div class="login-title-wrapper">
                <span>Choose a profile picture</span>
            </div>
            <div class="login-button-wrapper">
                <button class="button button-outline button-light login-button" ng-click="signupUser()" type="submit">
                    Sign Up
                </button>
                <a href="#/signup" nav-direction="back" title="Sign into your existing account">Back</a>
            </div>
        </div>
    </ion-content>
</ion-view>
