<ion-view view-title="Activity">
    <ion-content class="padding">
    <div ng-repeat="activity in activities">
        <div class="card">
            <div class="item item-divider">
                {{activity.event_name}}
            </div>
            <div class="item item-text-wrap">
                <ul>
                <li ng-repeat="bill in activity.bills">
                    @{{bill.debtor_info[0].username}} owes @{{bill.creditor_info[0].username}} ${{bill.amount}} 
                </li>
                </ul>
            </div>
            
        </div>
        <button class="button button-block button-positive">
            View Tab
        </button>
    </div>

    </ion-content>       
    
    <!-- NO TABS LABEL -->
    <span ng-if="tabs.length == 0" class="tab-message" >No tabs</span>   
</ion-view>
