<ion-view view-title="Activity">
    <ion-content>
    <ion-refresher
       pulling-text="Pull to refresh..."
       on-refresh="refreshTabList()">
     </ion-refresher>
    <div ng-repeat="activity in activities">
        <div class="card">
            <div class="item item-divider splyttr-header-wrapper">
                <span class="activity-tab-title">Tab Name</h2> <span class="activity-title"> - {{activity.event_name}}</span>
                <p>by @{{activity.bills[0].creditor_info[0].username}}</p>
            </div>
            <div class="item item-text-wrap activity-detail-wrapper">
                <ul class="detail-squad-list">
                    <div class="detail-squad-member activity-detail" ng-repeat="bill in activity.bills">
                        <img style="background-image: url(img/blank-user.png)" class="activity-profile-picture">
                           <i class="ion-android-done-all activity-icon activity-icon-paid"></i>
                        <div class="detail-squad-member-content">
                            <span>@{{bill.debtor_info[0].username}}</span>
                            <p>Owes <span class="activity-amount">${{bill.amount}}</span></p>
                        </div>
                    </div>
                </ul>
                <a class="item assertive tab-button" href="#/tab/home/{{tab.id}}">
                  View Tab
                </a>
            </div>
        </div>
    </div>

    </ion-content>       
    
    <!-- NO TABS LABEL -->
    <span ng-if="tabs.length == 0" class="tab-message" >No tabs</span>   
</ion-view>
