<ion-view view-title="Account">
	<ion-nav-buttons side="right">
	      <button ng-if="self" class="button button-clear button-positive" ng-click="editProfile()">
	        Edit
	      </button>
	    </ion-nav-buttons>
	<ion-content class="padding">
	<div class="user-profile">
		<!-- PROFILE DETAILS -->
			<div class="card user-profile-details-wrapper">
				<div class="item item-divider">
					Profile
				</div>
				<div class="user-profile-details">
					<div class="user-profile-image-wrapper">
						<img ng-src="{{user.img? user.img : 'img/blank-user.png'}}" alt="profile-picture" class="user-profile-image" id="user-profile-image">
						<!-- <i class="ion-ios-cloud-upload-outline user-profile-image-edit-icon"></i> -->
					</div>
					<div class="user-name-wrapper">
						<h2>{{user.name}}</h2>
						<span>@{{user.username}}</span>
					</div>
				</div> 
			</div>

		<!-- Chart-->
		<div ng-if="self" class="card">
			<div class="item item-divider">
				Your expenses
			</div>
			<div class="item item-text-wrap">
				<canvas id="bar" class="chart chart-bar" chart-data="data" chart-labels="labels" chart-series="series">
				</canvas>
			</div>			
		</div>

		<!-- Tabs in common -->
		<div ng-if="!self" class="card">
			<div class="item item-divider">
				Tabs you share in common
			</div>
			<div class="item item-text-wrap">
				<p>Nada</p>
			</div>			
		</div>

		<button ng-if="self" class="button button-block button-assertive" ng-click="signOut()">Sign Out</button>
	</div>
  </ion-content>
</ion-view>
