<ion-view view-title="Activity">
    <ion-content class="padding">
    <ion-refresher
       pulling-text="Pull to refresh..."
       on-refresh="refreshTabList()">
     </ion-refresher>
    <div ng-repeat="activity in activities">
        <div class="card">
            <div class="item item-divider">
                {{activity.event_name}}
            </div>
            <div class="item item-text-wrap">
                <ul>
                <li ng-repeat="bill in activity.bills">
                    @{{bill.debtor_info[0].username}} owes @{{bill.creditor_info[0].username}} <span class="activity-amount">${{bill.amount}}</span> for <strong>{{activity.event_name}}</strong>
                </li>
                </ul>
            </div>
            
        </div>
    </div>

    </ion-content>       
    
    <!-- NO TABS LABEL -->
    <span ng-if="tabs.length == 0" class="tab-message" >No tabs</span>   
</ion-view>
