.modal{
	&-tip{
		font-size: 12px;
		color: #444;
		&-wrapper{
			text-align: center;
		}
	}
	&-members-list{
		background-color: #efefef;
		&.expense{
			border: none;
		}
		span.modal-tip{
			position: absolute;
			top: 72%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 300px;
		    white-space: normal;
		    text-align: center;
		}
		li{
			height: 60px;
			width: 60px;
			border: 2px solid #ddd;
			position: relative;
			span{
				position: absolute;
				bottom: -30px;
				left: 50%;
				transform: translateX(-50%);
			}
		}
		li.added{
			border: 4px solid #33CD60;
		}
	}
	ion-scroll{
		padding-bottom: 10px;
	}
	.member-selected{
		border: 2px solid $splttr-blue !important;
		transform: scale(0.8);
	}
	.modal-label{
		border-left: none;
		border-right: none;
		border-top: none;
		display: block;
	    background-color: transparent;
	    margin-bottom: 10px;
	}
	select{
		background: transparent;
	}
	&-expense{
		background-color: #efefef;
		border: none;
		padding-top: 0;
		.member-image{
			border-radius: 50%;
			max-width: 60px;
			display: block;
			padding-bottom: 5%;
			&-wrapper{
				float: left;
				text-align: center;
			}
		}
		.member-info{
			padding-left: 100px;
		}
		.members-list{
			padding-top: 15px;
			li{
				margin-bottom: 40px;
			}
		}
	}

}
.addedMembersList li{
	    display: inline-block;
	    margin-right: 10px;
	    border-radius: 50%;
	    background-size: cover;
}